body {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    min-height: 100vh;      
    margin: 0;
}


.calculator-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;       
}
.box {
    background-color: gray;
    margin: 10px;
    padding: 5px;
}

.operators {
    display: flex;
    background-color: gray;
    margin: 10px;
    padding: 5px;
}

.submit_button {
    margin-top: 0;      
    margin-bottom: 30px;   
    
}