
body {

    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
.change-button{
    color: black;
    border: 2px;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: tomato;

 
}

.styled:hover {
  background-color: red;
}
